.navbar {
    border-bottom: 1px solid #333;
    background-color: white;
    margin-bottom: 2em;
}
a.nav-link { text-decoration: underline; }

div#authStatus {
    float: right;
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
}
div#authStatus a {
    margin-left: 1rem;
}
