body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #40190D;
}

.container {
    max-width: 960px;
}
.navbar {
    background-color: #3ec19d;
    margin-bottom: 2em;
    color:white;
    border-radius: 0;
}
.navbar a,
.navbar-dark .navbar-nav a.nav-link {
    text-decoration: none;
}

.navbar-dark .navbar-nav a.nav-link:hover {
    color: white;
}
a {
    color: #999;
    text-decoration: underline;
}
a:hover {
    color: #3ec19d;
}

div#authStatus {
    float: left;
    display: block;
}

@media (min-width: 576px) {
    div#authStatus {
        float: right;
    }
}
div #authStatus div#username {
    float: left;
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-right: 1rem;
}
.title.nav-link {
    font-weight: bold;
    color: white !important;
}

.jumbotron {
    text-align: center;
    background-color: white;
}

#settingsUpdateSuccessMessage {
    color: #3ec19d;
    padding-left: 20px;
}

h2 {
    color: #3ec19d;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.5rem;
    color: #3ec19d;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

p.cta {
    text-align: center;
    margin: 2em auto;
}

.btn-primary {
    border: 2px solid #3ec19d;
    background: #3ec19d;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:disabled,
.btn-primary:disabled:hover {
    background-color: white;
    color: #3ec19d;
    border: 2px solid #3ec19d;
}


.form-control {
    border: 2px solid #cfcfd2;
    border-radius: 2px;
    padding: 7px 8px;
    background: #fff;
    margin-top: 7px;
    margin-bottom: 5px;
    color: #545454;
}
.input-group .form-control {
    margin-top: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.input-group .input-group-addon {
    border-width: 2px;
    padding: 0px 10px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.form-control:focus {
    border-color: #3ec19d;
}
.teal {
    color: #3ec19d;
}

input.dotted, input.dotted:focus {
   /* Thanks, https://www.chefsteps.com/activities/equilibrium-brining! */
    border-width: 0px;
    border-bottom: 1px;
    border-style: dashed;
    border-color: #b8b6b4;
    outline: none;
    text-align: center;
    color: #3ec19d;
}

form.signupForm p {
}
